.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 19, 18);
    color: blanchedalmond;
        }
.footer{

     background-color: rgb(166, 139, 195);
    color: cornsilk;
        }
.container{
    margin: 0px;
}
/* *{
    margin: 0px;
} */
.menu{
    display: flex;
    
}