.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 19, 18);
    color: blanchedalmond;
        }
.footer{

     background-color: rgb(166, 139, 195);
    color: cornsilk;
        }
.container{
    margin: 0px;
}
/* *{
    margin: 0px;
} */
.menu{
    display: flex;
    
}
.menu li{
    list-style: none;
    margin: 5px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
#Home {
    display: flex;
}
.profile-img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
#Services{
    display: flex;
    background-color:beige;
    justify-content: space-around;
}
.box{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    
    
}
